// FLEX
.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 1;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.align-self-center {
  align-self: center;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-evenly {
  justify-content: space-evenly;
}

// TEXT
.text-center {
  text-align: center;
}

.margin-top-m {
  margin-top: var(--space-m);
}
