<div class="hero" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'security_landing.jpg' %>);">
  <h1 class="hero hero--primary">Phoenix Security Company</h1>
  <h2 class="hero hero--primary"><%= t :hello_world %></h2>
</div>
