<div class="hero" style="background-image: url(<%= asset_path "security_#{page}.jpg" %>);">
  <h1 class="hero hero--primary"><%= t("pages.#{page}.banner_#{page}_title") %></h1>
  <h2 class="hero hero--primary"><%= t("pages.#{page}.banner_#{page}_text") %></h2>
</div>
