<div class="header">
  <h1>History of our Company</h1>
  <p><%= t :lorem %></p>
  <p><%= t :lorem %></p>
  <p data-aos="fade-up" data-aos-offset="200" data-aos-duration="5000" data-aos-easing="ease-in-out"><%= t :lorem %></p>
</div>
