<footer>
  <a
    href="#"
    alt="Facebook account link"
    target="_blank"
  >
    <i class="fab fa-facebook"></i>
  </a>
  <a
    href="#"
    alt="Instagram account link"
    target="_blank"
  >
    <i class="fab fa-linkedin"></i>
  </a>
  <a
    href="https://fdlab.me/"
    class="text"
  >
    Made with <i class="fas fa-heart"></i> in Nantes!
  </a>
</footer>
