<footer>
  <a href="https://github.com/francoisedumas" alt="Github" target="_blank">
    <i class="fab fa-github"></i>
  </a>
  <a
    href="https://www.linkedin.com/in/francois-dumas-lattaque/"
    alt="Linkedin"
    target="_blank"
  >
    <i class="fab fa-linkedin"></i>
  </a>
  <p>Made with <i class="fas fa-heart"></i> in Nantes!</p>
</footer>
