  <nav class="navbar" data-controller="toggle" data-toggle-class-value="active">
    <%= link_to "Phoenix Security Company", root_path, class: "navbar__brand" %>

    <ul class="navbar__menu" data-toggle-target="content">
        <li class="navbar__item">
            <%= link_to "About",
                        about_path,
                        class: "btn btn--dark" %>
        </li>
        <li class="navbar__item">
            <%= link_to "Contact",
                        "#",
                        class: "btn btn--dark" %>
        </li>
        <li class="navbar__item">
            <%= link_to "Sign in",
                        "#",
                        class: "btn btn--dark" %>
        </li>
    </ul>

    <div
      class="navbar__hamburger"
      data-action="click->toggle#toggle"
      data-toggle-target="content"
    >
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>
