<%= render 'pages/home/banner' %>
<main class="container">
  <%= render 'pages/home/intro' %>
  <p data-aos="fade-up" data-aos-offset="200" data-aos-duration="5000" data-aos-easing="ease-in-out"><%= t(".lorem") %></p>
</main>
