.btn {
  display: inline-block;
  padding: var(--space-xxs) var(--space-m);
  border-radius: var(--border-radius);
  background-origin: border-box; // Invisible borders with linear gradients
  background-color: transparent;
  border: solid 2px transparent;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: filter 400ms, color 200ms;

  &:hover,
  &:focus,
  &:focus-within,
  &:active {
    transition: filter 250ms, color 200ms;
  }

  // Modifiers will go there
  &--primary {
    color: var(--color-white);
    background-image: linear-gradient(to right, var(--color-primary), var(--color-primary-rotate));

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-white);
      filter: saturate(1.4) brightness(115%);
    }
  }

  &--secondary {
    color: var(--color-dark);
    border-color: var(--color-background);
    background-color: var(--color-background);

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-background);
      background-color: var(--color-muted);
      filter: saturate(1.2) brightness(110%);
    }
  }

  &--light {
    color: var(--color-dark);
    background-color: var(--color-light);

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-dark);
      filter: brightness(92%);
    }
  }

  &--dark {
    color: var(--color-white);
    border-color: var(--color-dark);
    background-color: var(--color-dark);

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-dark);
      background-color: var(--color-light);
    }
  }
}

// the children link of btn_language
.btn_language a {
  display: inline-block;
  padding: var(--space-xxs) var(--space-xs);
  color: var(--color-white);
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: filter 400ms, color 200ms;

  &:hover,
  &:focus,
  &:focus-within,
  &:active {
    transition: filter 250ms, color 200ms;
  }
}

// Scroll to the top button
.scroll-top {
  position: absolute;
  top: 120vh;
  bottom: var(--space-xl);
  right: var(--space-m);

  &__link {
    position: -webkit-sticky;
    position: sticky;
    top: 80vh;
    border-radius: .25rem;
    padding: var(--space-m);
    background-color: var(--color-dark);
    color: var(--color-white);
    font-weight: 700;
  }

  &__link:hover {
    color: var(--color-white);
    background-color: var(--color-text-muted);
  }
}
