footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  border-top: var(--border);
}
footer a {
  font-size: var(--font-size-xxxl);
}
.fa-heart {
  color: var(--red);
}
