footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  border-top: var(--border);
  background-color: var(--color-dark);
}
footer a {
  font-size: var(--font-size-xxxl);
  color: var(--color-white);
}
.text {
  font-size: var(--font-size-m);
}
.fa-heart {
  color: var(--color-primary);
}
