.navbar {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--shadow-large);
  padding: var(--space-xs) var(--space-m);
  height: var(--space-xxxl);
  background-color: var(--color-dark);

  &__sphere {
    margin-right: var(--space-xs);
    color: var(--color-white);
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    color: var(--color-white);
    margin-left: var(--space-s);
  }

  &__brand {
    font-weight: bold;
    font-size: var(--font-size-xl);
    color: var(--color-white);
    width: var(--font-size-xxxxl);
  }

  &__hamburger {
    display: none;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--color-white);
  }

  @media screen and (max-width: 1024px) {
    &__menu {
      position: fixed;
      left: -100%;
      top: var(--space-xxxl);
      flex-direction: column;
      background-color: (var(--color-dark));
      width: 100%;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
    }

    &__menu.active {
        left: 0;
    }

    &__item  {
        margin: var(--space-s) 0;
    }

    &__hamburger {
      display: block;
      cursor: pointer;
    }

    &__hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }

    &__hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    &__hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
}
